/*Style for entire page so Footer will fit below it*/
.authPageLayout {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/*Center the elements in the body of the web page*/
.authPageBody {
    flex:1 0 auto;/*Help push the footer down*/
    min-height:auto;/*Help push the footer down*/
    display: flex;/*center the elements*/
    align-content: center;/*center the elements*/
} 

/* For screens 575 or higher change the height to affect the footer
*/
@media screen and (max-width: 575px) {
    .authPageLayout {
        min-height: 78vh;
    }
}