/*Styling for the entire Header. */
.background {
    background-color:#A3C3F7 ;/*Primary light blue color of app*/
    border-bottom: 1px solid #0707f8;/*App official dark blue color*/ ;
}

/*Styling for the monster logo*/
.imageStyle {
    height: 4rem;
}

/*Color for certain word in the title*/
.redText {
    color: red;
}

/*Styling for all inner elements in the header*/
.content {
    display: flex;
    justify-items: center;
    align-items: center;
}

/*Push Header buttons to the right*/
.rightAlignButtons {
    text-align: right;
}

/*On non-authenticated pages, style the page title*/
.loginPageTitleStyle {
    text-align: center;
    letter-spacing: .2rem;
}

/*On authenticated pages, style the page title*/
.authPageTitleStyle {
    text-align: center;
    letter-spacing: .2rem;
    text-decoration: underline;
}

/*Adjust font-size of app title on small and medium screens*/
@media screen and (max-width: 765px) {
    .mobileTitleTextSize {
        font-size:1rem ;
    }
}

/*Adjust font-size of app and page title on large screens*/
@media screen and (min-width: 766px) and (max-device-width : 1024px) {
    .TabletTitleTextSize {
        font-size:1.5rem ;
    }

    h2 {font-size: 1.2rem;}/*adjust page title size*/
}

/*Adjust font-size of page title on medium screens*/
@media screen and (min-width: 576px) and (max-device-width : 766px) {
    h2 {font-size: 1rem;}/*adjust page title size*/
}

/*Space between buttons and Logo/Title in mobile view*/
@media screen and (max-width: 575px) {
    .paddingBetweenLogoButtons {
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
}

/*Black color for app title. Fixes a bug where the routing <Link> turn the color to blue*/
.textColor {
    color: #252323; /*App official black color*/
}


.menu {
    height: 3rem;
    margin-bottom: .5rem;
}