
/*LAYOUT TESTING*/
.test1 {
    background-color: pink;
}

/*LAYOUT TESTING*/
.test2 {    
    background-color: aqua;
}

/*Style the container of a image so its bigger then the
image {60vh}, all elements are center, and whitespace between it
and the next section
*/
.landingPageBodyImageContainerStyle {
    height: 70vh;/*Set a responsive height to the container and bigger then the image*/
    display: flex;/*center elements within container*/
    justify-content: center;/*center elements within container*/
    align-items: center;/*center elements within container*/
}

/*center contents of a container*/
.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*center elements or text*/
.centerElements {
    text-align: center;
}

/*Center text over a image*/
.floatingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    color:#252323; /*App official black color*/

}

/*Set the height of a image and make it less visable under the floating text*/
.landingBodyImage {
    height: 65vh;
    filter: grayscale(10%);
    opacity: 0.2;
}

/*bold for paragraph elements hovering over image*/
.imageText {
    font-weight: bold;
}

/*Space between letters*/
.spaceBetweenLetters {
    letter-spacing: 1.6px;
}

/*styling for CTA header*/
.CTATitle {
    font-size: 2rem;
    font-weight: bold;
}

/*Designate a image as animated*/
.animatedMonster {
    animation: roving 4s ease-in-out infinite;
}

/*animation of monster image moving back & forth while rotating*/
@keyframes roving {
    0%{transform: translateX(-18vw) rotate(18deg);}
    15%{transform: translateX(-18vw) rotate(-18deg);}
    25%{transform: translateX(-18vw) rotate(18deg);}
    35%{transform: translateX(-18vw) rotate(-18deg);}
    50%{transform: translateX(18vw) rotate(18deg);}
    60%{transform: translateX(18vw) rotate(-18deg);}
    70%{transform: translateX(18vw) rotate(18deg);}
    80%{transform: translateX(18vw) rotate(-18deg);}
    90%{transform: translateX(18vw) rotate(18deg);}
    100%{transform: translateX(-18vw);}
}