/*Display the forms in the center of the page */
@media screen and (min-width: 576px) {
    .centerForm {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
}

/*center a text*/
.centerElements {
    text-align: center;
}

/*Assign height to monster quoting motivation text*/
.quoteMonster {
    height: 4rem;
}

/*Style the title for the inspirational quote*/
.quoteTitleStyle {
    text-decoration: underline;
    text-align: center;
}

.quote {
    font-style: italic;
}