
.logInBody {
    flex:1 0 auto;/*Help push the footer down*/
    min-height:auto;/*Help push the footer down*/
    display: flex;/*center the elements*/
    align-content: center;/*center the elements*/
} 


.logInPageLayout {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/* For screens 575 or higher change the height to affect the footer
*/
@media screen and (max-width: 575px) {
    .logInPageLayout {
        min-height: 78vh;
    }
}

/*center a text*/
.centerElements {
    text-align: center;
}

/*Assign height to monster quoting motivation text*/
.quoteMonster {
    height: 4rem;
}

/*Style the title for the inspirational quote*/
.quoteTitleStyle {
    text-decoration: underline;
    text-align: center;
}

.quote {
    font-style: italic;
}