.teamPageBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alignTeamTitle {
    text-align: left;/*Needed to override Bootstrap css*/
    padding-left: 0;
}

.alignWeekTitle {
    padding-right: 0;/*Needed to override Bootstrap css*/
    text-align: right;
}

.rowContentStyle {
    font-size: 3vw;
    width: 100%;
}

.teamTitle {
    font-weight: bold;
    text-align: left;
}

.spaceBetweenTeams {
    margin-bottom: 5vh;
}

.teamMemberStyle {
    background-color:rgb(226, 234, 247);
    color:black;
}

.teamMemberStyle:nth-of-type(even){
    background-color: #5c5c77;
    color:white;
}

.rankStyle {
    padding-left:5px;
}