.weighInTitle {
    text-align: center;
    letter-spacing: .2rem;
}

.weighInWhiteSpaceAbove {
    margin-top: 2rem;
    width: 80%;
}

.weighInBody {
    height:80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: pink;
}

/*Display the forms in the center of the page */
@media screen and (min-width: 576px) {
    .weighInCenterFormNOTUSED {
        margin: 0 auto;
        width: 80%; 
    }
}